.App {
    --header_height: 60px;
    background-color: #f3f3f3;
    height: 100vh;
}

.hw {
    max-width: 1200px;
    margin: 0 auto;

}

.hwTitle {
    font-size: 26px;
    font-weight: 600;
    max-width: 1200px;
    border-bottom: 1px solid #c5c2c2;
    margin: 0  auto 20px;

    padding: 40px 0 10px 0;

}